/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #e6e6e6;
    color: #333;
    display: flex;
    flex-direction: column;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Header */
header {
    background: linear-gradient(45deg, #4A90E2, #50E3C2);
    color: white;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.8em;
    font-weight: 700;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 10px;
}

header h1 i {
    margin-right: 10px;
    color: #ffffff;
    font-size: 1.2em;
}

/* Navigation */
nav {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    height: 60px;
    min-height: 60px; 
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-buttons button {
    padding: 10px 20px;
    background-color: transparent;
    color: #4A90E2;
    border: 2px solid #4A90E2;
    border-radius: 25px;
    font-size: 1em;
    transition: all 0.3s ease;
    margin: 0 5px;
    flex: 1;
}

.nav-buttons button:hover {
    background-color: #4A90E2;
    color: white;
    transform: translateY(-2px);
}


main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    overflow: hidden; 
}

/* Caja de contenido para la política de privacidad */
.privacy-policy-box {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
    overflow-y: auto;
    padding: 20px;
    max-height: calc(100vh - 80px); 
    box-sizing: border-box;  
}

.content-box {
    background-color: #fff;
    width: 100%;
    max-width: 1000px; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Merriweather', serif;
    overflow-y: auto; 
    max-height: calc(100vh - 160px); 
}


h1, h3 {
    color: #333;
}

article p, ul {
    font-size: 0.9em !important;
    color: #555 !important;
}

.formato_texto {
    font-size: 1.1em;
    line-height: 1.7;
    color: black;
    text-align: justify;
    margin-bottom: 20px;
}

ul.formato_texto {
    list-style-type: disc;
    margin-left: 20px;
    color: #555;
}

/* Footer */
footer {
    background-color: #3a3a3a;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 0.9em;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-links, .footer-socials {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-socials a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #04AA6D;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #04AA6D;
}